@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

$fontFamily: 'Chivo', sans-serif;
$fontSize: 18px;
$fontWeight: 300;
$lineHeight: 28px;

$colorGreen: #56e6af;
$colorGreenLight: #B3FFE2;
$colorGray: #5A668A;
$colorGrayDark: #2C344B;
$colorGrayLight: #C2CBE5;
$colorBlack: #121725;
$colorWhite: #FFFFFF;
$colorRed: #FB3E3E;

// breaking points
$tabPortrait: 768px;
$tabLandDesktop: 1440px;